# -*- config -*-
# Configuration settings controlled through EditorConfig. Learn more: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = false
# Trim trailing whitespace. Sublime users, read this: https://github.com/sindresorhus/editorconfig-sublime#trailing-whitespace
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# vim: ft=config